nav ul{
    background-color: gray;
	border: solid 1px black;
	list-style-type:none;
	padding:0px;
	margin:0px;
	
}

nav a{
	text-decoration:none;
	color:green;
	padding: 10px;
	display: block;
	text-align:center;
}

nav a:hover{
    background-color:blue;
}

nav li{
float: left}

.bawah ul{
background-color:lightlue; }

.bawah li{
float:left;}

.bawah a:hover{
 background-color:black;}
  
  
  
	